:root {
	--black: hsl(0, 2%, 9%);
	--white: hsl(0, 9%, 86%);
	--check: hsl(0, 82%, 73%);
}
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.flex {
	display: flex;
	gap: var(--gap, 1rem);
}
body {
	font-family: Montserrat, sans-serif;
	background: url(images/hero-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-width: 100vw;
	min-height: 100vh;
}
nav {
	position: fixed;
	width: 100%;
	height: 6rem;
	padding-inline: min(8vw, 2.8rem);
	align-items: center;
	justify-content: space-between;
	z-index: 999;
}
.logo {
	font-size: 2rem;
	color: var(--black);
	z-index: 100;
}
.menu-toggle {
	position: relative;
	z-index: 100;
	width: 3.5rem;
	height: 4rem;
	padding: 1rem 0.6rem;
	cursor: pointer;
}
.menu-toggle > .hamburger {
	display: block;
	height: 4px;
	margin: 4px 0 4px auto;
	background: #333;
	border-radius: 10px;
	transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.hamburger:nth-of-type(1) {
	transform-origin: right;
	width: 50%;
}
.hamburger:nth-of-type(2) {
	width: 100%;
}
.hamburger:nth-of-type(3) {
	transform-origin: left;
	width: 75%;
}
.menu-toggle[aria-expanded="true"] .hamburger:nth-of-type(1) {
	transform: translate(-98%, 200%) rotateZ(45deg);
}
.menu-toggle[aria-expanded="true"] .hamburger:nth-of-type(2) {
	transform: rotatez(-45deg);
}
.menu-toggle[aria-expanded="true"] .hamburger:nth-of-type(3) {
	width: 50%;
	transform: translate(2%, -200%) rotateZ(45deg);
}

.primary-navigation {
	flex-direction: column;
	padding-top: clamp(3.5rem, 20vh, 10rem);
	font-size: 1.4rem;
	position: fixed;
	overflow: hidden;
	inset: 0 0 0 0;
	z-index: 90;
	background: hsla(0 0% 0%/ 0.18);
	transform: translateX(100%);
	transition: transform 500ms ease;
}

@supports (backdrop-filter: blur(8px)) {
	.primary-navigation {
		background: hsla(0 0% 0%/ 0.08);
		backdrop-filter: blur(8px);
	}
}

.primary-navigation[data-visible="true"],
.primary-navigation:focus-within {
	transform: translateX(0%);
}

.nav-item {
	text-align: right;
}
.nav-link {
	position: relative;
	display: block;
	cursor: pointer;
	color: var(--black);
	padding: 1.2rem 3rem;
}

.nav-link:hover,
.nav-link:focus {
	outline: none;
	border: none;
	background: rgba(54, 54, 54, 0.15);
}

@media (min-width: 425px) {
	.primary-navigation {
		left: 50%;
	}
}
@media (min-width: 560px) {
	.primary-navigation {
		left: 60%;
	}
}
@media (min-width: 768px) {
	.primary-navigation {
		left: 70%;
	}
}
@media (min-width: 1024px) {
	.menu-toggle {
		display: none;
	}
	nav {
		align-items: center;
	}
	.primary-navigation {
		outline: 1px solid red;
		transform: translateX(0%);
		background: transparent;
		position: relative;
		padding: unset;
		overflow: unset;
		flex-direction: row;
		left: 0;
		--gap: 2.6rem;
	}
	.nav-item {
		text-align: center;
	}

	.nav-link {
		font-weight: 450;
		width: 13rem;
	}

	.nav-link:hover,
	.nav-link:focus {
		background: transparent;
	}
	.nav-link::after,
	.nav-link::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		border-radius: 10px 10px 0 0;
		background: var(--black);
		width: 100%;
		height: 0.125rem;
		transform: scaleX(0%);
		transform-origin: left;
		transition: transform 200ms ease;
	}
	/* .primary-navigation {
		width: max-content;
		justify-content: space-evenly;
		align-items: center;
		outline: 1px solid black;
		position: relative;
		overflow: unset;
		left: 0;
		background: transparent;
		flex-direction: row;
		transform: translateX(0%);
		padding: unset;
		--gap: 2.6rem;
	}
	.nav-item {
		text-align: center;
		outline: 1px solid red;
		width: 10rem;
	}
	.nav-link {
		padding: unset;
		/*removing padding nesscessay in mobile view*/
	/* }  */
	/* .nav-link:hover,
	.nav-link:focus {
	} */
	.nav-link:hover::after,
	.nav-link:focus::after {
		transform: scaleX(100%);
	}
}
