:root {
	--black: hsl(0, 2%, 9%);
	--white: hsl(0, 9%, 86%);
	--check: hsl(0, 82%, 73%);
}
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.flex {
	display: flex;
	gap: var(--gap, 1rem);
}
.center {
	text-align: center;
	margin: 0 auto;
}
html {
	scroll-behavior: smooth;
}
body {
	position: relative;
	font-family: Montserrat, sans-serif;
	background: url(images/hero-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	max-width: 100vw;
}

/* nav styles */
nav {
	position: fixed;
	width: 100%;
	height: 6rem;
	padding-inline: min(4%, 2.8rem);
	align-items: center;
	justify-content: space-between;
	z-index: 999;
}

/* logo styles */
.logo {
	font-size: 2rem;
	color: var(--black);
	z-index: 100;
}

/* hamburger styls */
.menu-toggle {
	position: relative;
	z-index: 100;
	width: 3.5rem;
	height: 4rem;
	padding: 1rem 0.6rem;
	cursor: pointer;
}
.menu-toggle > .hamburger {
	display: block;
	height: 4px;
	margin: 4px 0 4px auto;
	background: #333;
	border-radius: 10px;
	transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.hamburger:nth-of-type(1) {
	transform-origin: right;
	width: 50%;
}
.hamburger:nth-of-type(2) {
	width: 100%;
}
.hamburger:nth-of-type(3) {
	transform-origin: left;
	width: 75%;
}
.menu-toggle[aria-expanded="true"] .hamburger:nth-of-type(1) {
	transform: translate(-98%, 200%) rotateZ(45deg);
}
.menu-toggle[aria-expanded="true"] .hamburger:nth-of-type(2) {
	transform: rotatez(-45deg);
}
.menu-toggle[aria-expanded="true"] .hamburger:nth-of-type(3) {
	width: 50%;
	transform: translate(2%, -200%) rotateZ(45deg);
}

/* navigation */
.primary-navigation {
	flex-direction: column;
	align-items: flex-end;
	padding-top: clamp(4.5rem, 20vh, 10rem);
	font-size: 1.4rem;
	position: fixed;
	overflow-x: hidden;
	inset: 0 0 0 0;
	z-index: 90;
	background: hsla(0 0% 0%/ 0.18);
	transform: translateX(100%);
	transition: transform 500ms ease;
}

@supports (backdrop-filter: blur(8px)) {
	.primary-navigation {
		background: hsla(0 0% 0%/ 0.08);
		backdrop-filter: blur(8px);
	}
}

.primary-navigation[data-visible="true"],
.primary-navigation:focus-within {
	transform: translateX(0%);
}

/* li tag inside */
.nav-item {
	text-align: right;
	width: 100%;
}

/* a tag inside */
.nav-link {
	position: relative;
	display: block;
	cursor: pointer;
	color: var(--black);
	padding: 1.2rem 3rem;
}

.nav-link:hover,
.nav-link:focus {
	outline: none;
	border: none;
	background: rgba(54, 54, 54, 0.15);
}
main {
	padding: 7rem 0 3rem;
}
section {
	position: relative;
	background: var(--white);
	height: min(60vh, 30rem);
	width: 90vw;
	margin: 0 auto 4rem;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1.5rem 0.2rem;
	width: 100%;
	background: var(--black);
	color: var(--white);
}

/* media queries */
@media (min-width: 425px) {
	.primary-navigation {
		left: 50%;
	}
}
@media (min-width: 560px) {
	.primary-navigation {
		left: 60%;
	}
}
@media (min-width: 768px) {
	.primary-navigation {
		left: 70%;
	}
}
@media (min-width: 1024px) {
	/* big screens size  */
	.menu-toggle {
		display: none;
	}
	nav {
		align-items: center;
	}
	.primary-navigation {
		transform: translateX(0%);
		background: transparent;
		backdrop-filter: none;
		position: relative;
		padding: unset;
		flex-direction: row;
		left: 0;
		--gap: 2.6rem;
	}
	.nav-item {
		text-align: center;
	}

	.nav-link {
		font-size: 1.25rem;
		font-weight: 450;
		width: 10rem;
		padding: 1.2rem 1rem;
	}

	.nav-link:hover,
	.nav-link:focus {
		background: transparent;
	}
	.nav-link::after,
	.nav-link::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		border-radius: 10px 10px 0 0;
		background: var(--black);
		width: 100%;
		height: 0.125rem;
		transform: scaleX(0%);
		transform-origin: left;
		transition: transform 200ms ease;
	}

	.nav-link:hover::after,
	.nav-link:focus::after,
	.nav-link.active::after {
		transform: scaleX(100%);
	}
}

/* .primary-navigation {
	scrollbar-width: none; 
	-ms-overflow-style: none; 
}
.primary-navigation::-webkit-scrollbar {
	width: 3px !important;
	background-color: transparent;
}
.primary-navigation::-webkit-scrollbar-thumb {
	background-color: transparent;
}
.primary-navigation::-webkit-scrollbar-track {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	background-color: transparent;
} */

.primary-navigation {
	scrollbar-width: thin; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}

.primary-navigation::-webkit-scrollbar-track {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	background-color: transparent !important;
}

.primary-navigation::-webkit-scrollbar {
	width: 8px !important;
	background-color: transparent;
}

.primary-navigation::-webkit-scrollbar-thumb {
	background-color: rgb(92, 92, 92);
}

body {
	scrollbar-width: none;
	-ms-overflow-style: none;
}
body::-webkit-scrollbar {
	width: 0px !important;
	background-color: transparent;
}
body::-webkit-scrollbar-thumb {
	background-color: transparent;
}
body::-webkit-scrollbar-track {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	background-color: transparent;
}

.on-scrollbar {
	scrollbar-width: thin; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}

.on-scrollbar::-webkit-scrollbar-track {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	background-color: transparent !important;
}

.on-scrollbar::-webkit-scrollbar {
	width: 6px !important;
	background-color: transparent;
}

.on-scrollbar::-webkit-scrollbar-thumb {
	background-color: red;
}
