:root {
	--black: hsl(0, 2%, 9%);
	--white: hsl(0, 9%, 86%);
	--check: hsl(0, 82%, 73%);
}
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.flex {
	display: flex;
	gap: var(--gap, 1rem);
}
body {
	font-family: Montserrat, sans-serif;
	background: url(images/hero-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-width: 100vw;
	min-height: 100vh;
}
nav {
	position: fixed;
	width: 100%;
	height: 4rem;
	padding-inline: 1.8rem;
	align-items: center;
	justify-content: space-between;
	z-index: 999;
}
.logo {
	color: var(--black);
	z-index: 100;
}
.hamburger {
	position: relative;
	display: block;
	width: 2rem;
	height: 0.25rem;
	background: var(--black);
	z-index: 100;
}
.hamburger::after,
.hamburger::before {
	content: "";
	position: absolute;
	background: var(--black);
	width: 100%;
	height: 100%;
	transform-origin: right;
}
.hamburger::after {
	transform: scaleX(50%);
	top: -10px;
}
.hamburger::before {
	transform: scaleX(75%);
	top: 10px;
}

.primary-navigation {
	flex-direction: column;
	padding-top: clamp(3.5rem, 20vh, 10rem);
	/* --gap: 0.2rem; */
	font-size: 1.4rem;
	position: fixed;
	overflow: hidden;
	inset: 0 0 0 0;
	z-index: 90;
	background: hsla(0 0% 0%/ 0.15);
	backdrop-filter: blur(8px);

	/* transform: translateX(100%);
	transition: transform 500ms ease; */
}
/* .active {
	transform: translateX(0%);
} */
.nav-item {
	text-align: right;
}
.nav-link {
	display: block;
	cursor: pointer;
	color: var(--black);
	width: 100%;
	padding: 1.2rem 3rem;
}
.nav-link:hover,
.nav-link:focus {
	background: rgba(54, 54, 54, 0.1);
}

@media (min-width: 425px) {
	.primary-navigation {
		left: 50%;
	}
}
@media (min-width: 768px) {
	.primary-navigation {
		left: 70%;
	}
}
@media (min-width: 1024px) {
	.primary-navigation {
		left: 75%;
	}
}
