section {
	position: relative;
	width: 100%;
}
section:nth-child(odd) {
	background-color: var(--dark);
	color: var(--light);
}
section:nth-child(odd)::after {
	content: "";
	position: absolute;
	inset: 0 0 0 0;
	opacity: 0.15;
	background-image: url(images/double-bubble-dark.png);
	background-repeat: repeat;
}
section:nth-child(even) {
	background: var(--light);
	color: var(--dark);
}
section:nth-child(even)::after {
	content: "";
	position: absolute;
	inset: 0 0 0 0;
	opacity: 0.5;
	background-image: url(images/webb.png);
	background-repeat: repeat;
}
.container {
	padding-block: 8rem 4rem;
	position: relative;
	z-index: 1;
	width: min(90%, 80em);
}
#contact {
	padding-bottom: 3rem;
}
/* home section styles */
.hero {
	margin-top: 2rem;
	width: 100%;
	--gap: 0.5rem;
	grid-template-columns: repeat(5, fit-content(500px));
	grid-template-rows: repeat(4, auto);
	justify-items: center;
	justify-content: center;
	grid-template-areas:
		". . hero . ."
		". hi hero icons ."
		". name name name ."
		"post post post post post ";
}
.hero h1,
.hero h2,
.hero h3,
.hero p {
	margin-block: 0 0;
}
.hero-img {
	grid-area: hero;
	width: 9.5rem;
	aspect-ratio: 1;
	box-shadow: 2px 10px 20px 12px rgba(42, 37, 44, 0.5);
	-webkit-box-shadow: 2px 10px 20px 12px rgba(42, 37, 44, 0.5);
	-moz-box-shadow: 2px 10px 20px 12px rgba(42, 37, 44, 0.5);
}
.name {
	grid-area: name;
	width: 100%;
	padding-inline: 0.8rem;
	font-size: 1.875rem;
	font-weight: 700;
	background: var(--dark);
}
.post {
	position: relative;
	grid-area: post;
	font-size: 1rem;
	font-weight: 500;
	color: var(--dark);
	background: var(--accent-green);
	padding-inline: 2rem;
	padding-block: 0.8rem;
}
.post::before {
	content: "";
	z-index: -1;
	position: absolute;
	inset: -25px -12px -25px -12px;
	border: 2px solid var(--accent-green);
}
.icon-group {
	grid-area: icons;
	flex-direction: column;
	--gap: 0.5rem;
	background: var(--dark);
}
.icon {
	max-width: 1rem;
}
.hero .subtitle {
	grid-area: hi;
	max-width: 3rem;
}
.caret {
	display: block;
	width: 1.2rem;
	margin-top: 3.3rem;
	transition: transform 200ms ease;
}
.caret:hover,
.caret:focus {
	transform: scale(1.2);
}
@media (min-width: 1024px) {
	.hero {
		--gap: 1.2rem;
		row-gap: 0rem;
		grid-template-areas:
			". hero hi . ."
			". hero name name ."
			". hero post post post"
			". hero icons . .";
		justify-items: stretch;
		align-items: center;
	}
	.hero .subtitle {
		align-self: end;
		padding-left: 1rem;
		max-width: max-content;
	}
	.icon-group {
		width: max-content;
	}
	.hero-img {
		width: 21.25rem;
		aspect-ratio: 1;
	}
	.name {
		font-size: 4.375rem;
		font-weight: 700;
	}
	.post {
		z-index: -1;
		align-self: stretch;
		text-align: right;
		line-height: 2rem;
		grid-area: 3 / 1 / 4 / 6;
		font-size: 1.25rem;
		font-weight: 500;
		padding-inline: 9rem;
		padding-block: 1.5rem 0;
	}
	.post::before {
		inset: -50px -15px -40px -15px;
		border: 4px solid var(--accent-green);
	}
	.icon-group {
		--gap: 2rem;
		flex-direction: row;
		padding-inline: 1rem;
	}
	.icon {
		opacity: 0.6;
		max-width: 2.5rem;
		transition: opacity 200ms ease;
	}
	.icon:hover,
	.icon:focus {
		opacity: 1;
	}
	.caret {
		width: 2.5rem;
	}
}

/* services styles */
#services .title {
	position: relative;
	margin-bottom: 2.5rem;
}
#services .subtitle {
	width: 100%;
}
#services .title::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -1.2rem;
	transform: translate(-50%);
	width: 10rem;
	height: 4px;
	background: var(--accent-green);
}
.service-container {
	flex-wrap: wrap;
	--gap: 2rem;
}
.content {
	width: clamp(12rem, 20vw, 28rem);
}
.content a {
	color: var(--accent-green);
	font-weight: 500;
}

/* aboutme styles */
.about-image {
	position: relative;
	--top: 3rem;
	--bottom: 4rem;
	width: 8.125rem;
	aspect-ratio: 3 / 4;
}
.about-image::before {
	content: "";
	position: absolute;
	border: 2px solid var(--accent-green);
	inset: -15px -15px -15px -15px;
	box-shadow: 10px 10px 20px 0px rgba(23, 186, 145, 0.4);
	-webkit-box-shadow: 10px 10px 20px 0px rgba(23, 186, 145, 0.4);
	-moz-box-shadow: 10px 10px 20px 0px rgba(23, 186, 145, 0.4);
}
.about-image img {
	object-fit: cover;
}
.about-content {
	width: 80%;
}
@media (min-width: 1024px) {
	#about .container,
	.about-content {
		text-align: left;
	}
	.about-content {
		width: 60%;
		margin-left: 0;
	}
	.about-image {
		position: absolute;
		top: 8rem;
		right: 1.2rem;
		width: 18.75rem;
	}
	.about-image::before {
		border: 4px solid var(--accent-green);
	}
}

/* work styles */
#work .title {
	position: relative;
	margin-bottom: 2.5rem;
}
#work .title::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -1.2rem;
	transform: translate(-50%);
	width: 10rem;
	height: 4px;
	background: var(--accent-green);
}
#work .button {
	text-decoration: none;
	color: var(--dark);
	padding: 0.6rem 0.8rem;
	margin-bottom: 1rem;
	border-radius: 8px;
}
.card-container {
	width: min(100%, 70em);
	margin-block: 2rem 4rem;
	justify-content: center;
	--gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, min(17.2rem, 86vw));
}
.card-container .card {
	position: relative;
	border-radius: 0.8rem;
	overflow: hidden;
	width: 17.25rem;
	aspect-ratio: 4 / 5;
	background: var(--dark);
	box-shadow: 10px 10px 10px 0px rgba(42, 37, 44, 0.5);
	-webkit-box-shadow: 10px 10px 10px 0px rgba(42, 37, 44, 0.5);
	-moz-box-shadow: 10px 10px 10px 0px rgba(42, 37, 44, 0.5);
	transition: 500ms ease;
}
.card p {
	width: 90%;
	color: var(--light);
	position: absolute;
	text-align: left;
	padding: 0.2rem 0rem 0.2rem 0.8rem;
	z-index: 1;
	transition: 500ms ease;
}
.card .subtitle {
	font-size: 2rem;
	left: -0%;
	top: 4%;
	background: var(--accent-green);
	border-radius: 0 0.8rem 0.8rem 0;
}
.card .text {
	left: -100%;
	top: 35%;
}
.card:hover .subtitle {
	left: 0%;
}
.card:hover .text {
	left: 0%;
}
.card:hover img {
	opacity: 0.4;
}
.card:hover {
	box-shadow: 10px 10px 20px 5px rgba(42, 37, 44, 0.4);
	-webkit-box-shadow: 10px 10px 20px 5px rgba(42, 37, 44, 0.4);
	-moz-box-shadow: 10px 10px 20px 5px rgba(42, 37, 44, 0.4);
}
.card img {
	position: absolute;
	top: 0;
	object-fit: cover;
	opacity: 0.6;
}

/* contact styles */
.social-container {
	position: relative;
	padding-inline: 0.8rem;
	margin-bottom: 4rem;
}
.social-container::after {
	content: "";
	position: absolute;
	width: 80%;
	height: 2px;
	background: var(--accent-green);
	bottom: -30px;
	left: 50%;
	transform: translate(-50%);
}
.contact-icon {
	width: 1rem;
}
.contact-container {
	justify-content: center;
	margin-block: 0.5rem 1rem;
}
.work-icons {
	justify-content: center;
	margin-block: 1rem 2rem;
}
.social {
	margin-block: 1rem;
}
.form-text {
	margin-block: 2rem;
}
.form-container form > * {
	border: none;
	outline: none;
	width: min(100%, 30rem);
	padding: 0.6rem 0.6rem;
	margin-bottom: 1rem;
	border-radius: 2px;
}
.form-container form > input:focus,
.form-container form > textarea:focus-visible {
	border: none;
	outline: none;
	box-shadow: 0px 0px 5px 5px rgba(23, 186, 145, 0.7);
	-webkit-box-shadow: 0px 0px 5px 5px rgba(23, 186, 145, 0.7);
	-moz-box-shadow: 0px 0px 5px 5px rgba(23, 186, 145, 0.7);
}
@media (min-width: 1024px) {
	.social-container {
		width: 50%;
		text-align: left;
	}
	.contact-container {
		justify-content: flex-start;
		align-items: center;
		margin-block: 3rem;
	}
	.work-icons {
		justify-content: flex-start;
		margin-block: 3rem 6rem;
	}
	.social-container::after {
		right: 0%;
		left: 100%;
		top: 0;
		height: 120%;
		width: 4px;
	}
	.contact-icon {
		width: 2.5rem;
	}
	.form-container {
		position: absolute;
		top: 8rem;
		left: calc(50% + 8rem);
	}
}
